---
import Layout from "../layouts/Layout.astro";
import Typographic from "../components/Typographic.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');

---

<Layout title="Sobre mi || JotaDev">
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje de Astro.</p>
  <ul>
    {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  </ul>
</Layout>