---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Tag from "../components/Tag.astro";
---

<Layout title="Mas que un codigo || JotaDev">
  <div class="main md:w-[50rem] md:px-0 px-4 w-full flex-col">
    <header class="w-full flex flex-col h-[80vh]">
      <div
        class="w-full flex md:justify-between justify-center md:flex-row flex-col h-full items-center -mb-16 md:gap-0 gap-4"
      >
        <div
          class="md:max-w-[50%] max-w-max md:flex-auto md:text-left text-center md:order-1 order-2"
        >
          <h1
            class="md:text-7xl text-6xl font-semibold dark:text-white text-black mb-3"
          >
            Jota
            <strong
              class="font-extrabold bg-gradient-to-r from-blue-600 to-cyan-500 text-transparent bg-clip-text"
            >
              Dev
            </strong>
          </h1>
          <p class="text-base dark:text-gray-100 text-gray-900/90">
            Bienvenido, soy JotaDev 
            <span class="dark:text-blue-400 text-blue-600">
              desarrollador Web 
            </span>
            desde los 
            <span class="dark:text-indigo-300 text-indigo-600">
              17 años
            </span>
            , es un placer conocerte. 
            <span class="md:inline hidden">
              Este Blog esta pensado para que pueda se usado como una 
              <span class="dark:text-sky-300 text-sky-600">
                guia de referencia rapida.
              </span>
            </span>
            <div
              class="flex gap-1 mt-4 items-center md:justify-start justify-center"
            >
              <Tag title="frontend" />
              <Tag title="backend" />
              <Tag title="seo" />
            </div>
          </p>
        </div>
        <div class="relative md:order-2 order-1 md:my-0 my-6">
          <Logo classLogo="md:size-48 size-40 rotate-6 md:mr-8" />
          <Logo
            classLogo="md:size-48 size-40 rotate-6 md:mr-8 blur-2xl absolute inset-0 opacity-40 scale-120"
          />
        </div>
      </div>
      <div class="flex justify-center gap-4 w-full pb-12">
        {
          /**<a
                      target='_blank'
                      href='https://github.com/Dsgnr-JM'
                      aria-label='Redireccionar a el github de JotaDev'
                      class='flex gap-2 items-center px-2 py-1.5 dark:bg-gray-100/10 bg-gray-600/10 rounded group hover:bg-blue-500 transition duration-300'
                    >
                      <FaGithub class='dark:text-white text-blue-600 size-6 group-hover:text-gray-200 group-hover:dark:text-gray-100' />
                    </a>
                    <a
                      target='_blank'
                      href='https://www.discord.com/JotaDev'
                      aria-label='Redireccionar a el grupo de Discord de JotaDev'
                      class='flex gap-2 items-center px-2 py-1.5 dark:bg-gray-100/10 bg-gray-600/10 rounded group hover:bg-blue-500 transition duration-300'
                    >
                      <FaDiscord class='dark:text-white text-blue-600 size-6 group-hover:text-gray-200 group-hover:dark:text-gray-100' />
                    </a>
                    <a
                      target='_blank'
                      href='https://www.whatsapp.org'
                      aria-label='Redireccionar a el grupo de WhatsApp "Programadores"'
                      class='flex gap-2 items-center px-2 py-1.5 dark:bg-gray-100/10 bg-gray-600/10 rounded group hover:bg-blue-500 transition duration-300'
                    >
                      <FaWhatsapp class='dark:text-white text-blue-600 size-6 group-hover:text-gray-200 group-hover:dark:text-gray-100' />
                    </a>**/
        }
      </div>
    </header>
  </div>
</Layout>
