---
import tagsType from "../data/tags.json";

export type Props = {
    title: string
}
const { title } = Astro.props;
function selectTag(type:string) {
    let tagClass = "dark:bg-slate-400/15 bg-slate-500/10 dark:text-slate-300/70 text-slate-700/70 hover:dark:bg-slate-400/20 hover:bg-slate-500/20";
    tagsType.forEach((i) => {
        if (i.type === type) return (tagClass = i.class);
    });
    return tagClass;
}
---

<a
    href={`/tags/${title}`}
    class={`flex  items-center px-2 py-[0.15rem] leading-[initial] text-sm rounded-xl bg-none cursor-pointer transition ${selectTag(title)} font-medium`}
>
    {title}
</a>
<style is:inline>
    a{
        text-decoration: none !important;
    }
</style>