---
// import NavBar from "../components/NavBar.astro";
import "@fontsource-variable/onest";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="font-onest root relative w-full min-h-screen transition-all"
  >
    <section class="w-full h-full flex flex-col z-10 relative">
      <slot />
    </section>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #fcf8f7;
    background-size: 224px;
    scroll-behavior: smooth;
  }
  .main {
    @apply flex h-full mx-auto;
  }
</style>
